RewriteEngine On
RewriteBase /

# Ensure the homepage resolves to index.php to avoid 403s
DirectoryIndex index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]